In [ ]:
a=2
b=4
X=10
5 + 3 #add 5 and 3
X * 7 # multiplies thha value of x by 7
(a+b)/2 #calculates the average of a and b
len("hello") #find the lenght of the sting "hello"

5

##operands and operator ##

In [ ]:
5 + 3 # operands 5 and 3 #operator +

8

variable

In [ ]:
age = 25 #int
name = "joon" #string
pi = 3.14 #float
is_active = True #boolean

expression within variable

In [ ]:
result = 5 + 3 #expression
print(result)

8

In [ ]:
a = 10
b = 20
sum_value = a + b
print(sum_value)

30

Question:

A person buys eggs over three days. On Day 1, they buy 12 eggs; on Day 2, they buy 10 eggs; and on Day 3, they buy 8 eggs.

Over the three days, they use the following number of eggs:

1. On Day 1, they use 5 eggs.
2. On Day 2, they use 6 eggs.
3. On Day 3, they use 4 eggs.

Calculate:

1. The total number of eggs bought over the three days.
2. The total number of eggs used over the three days.
3. The number of remaining eggs after using them.

In [ ]:
Day_01 = 12
Day_02 = 10
Day_03 = 8

total_number_of_eggs = Day_01 + Day_02 + Day_03
print("total_number_of_eggs bought = " ,total_number_of_eggs)

used_Day_1 = 5
used_Day_2 = 6
used_Day_3 = 4

total_eggs_use = used_Day_1 + used_Day_2 + used_Day_3
print("total_number_of_used_eggs = " ,total_eggs_use)

reamaining_eggs =total_number_of_eggs -  total_eggs_use
print("reamaining_eggs = " ,reamaining_eggs)

total_number_of_eggs bought =  30
total_number_of_used_eggs =  15
reamaining_eggs =  15