#understanding data type

Integer (int) - Represents whole numbers (e.g.,5, -20).

Float - Represents decimal numbers (e.g., 3.14, -7.89).

String (str) - Represents text data (e.g., "Hello", 'Python').

Boolean (bool) - Represents True/False values.

In [ ]:
#Integer (int) - Represents whole numbers .
age = 25
temperature = -10
population = 1000000
#Float - Represents decimal numbers .
pi = 3.14
price = 19.99
x = 1.5e2
#String (str) - Represents text data .
name = "dhana"
hi = "vhi"
print(name+ hi)#concatenation
#Boolean (bool) - Represents True/False values.
is_raining = False
is_sunny = True
is_valid = True
comparisn = 10>5
chek = bool("")

dhanavhi

#type castin

int() - Converts data to an integer.

float() - Converts data to a float.

str() - Converts data to a string.

bool() - Converts data to a Boolean

In [ ]:
num = 10
num_float = float(num)
print(num_float)

10.0

In [ ]:
number = "5"
int_num = int(number)
print(int_num, type(int_num))

5 <class 'int'>

In [ ]:
pi = 3.14
pi_int = int(pi)
print(pi_int,type(pi_int))

3 <class 'int'>

In [ ]:
text = "42"
text_int = int(text)
print(text_int,type(text_int))

42 <class 'int'>

In [ ]:
is_empty = bool("")
print(is_empty,type(is_empty))

False <class 'bool'>

In [ ]:
is_empty = bool("hi")
print(is_empty,type(is_empty))

True <class 'bool'>

In [ ]:
is_active = True
type(is_active)
str_bool = str(is_active)
print(str_bool,type(str_bool))

True <class 'str'>