#string operators#

In [ ]:
#forward indexing
name = "joon"
# j  o  o  n - positions
# 0  1  2  3 - index
print(name[0])
print(name[1])
print(name[2])
print(name[3])

j
o
o
n

In [ ]:
#backward indexing
name = "joon"
# j  o  o  n - positions
#-0 -1 -2 -3 - index(negetive)
print(name[-3])
print(name[-2])
print(name[-1])
print(name[-0])

o
o
n
j

In [ ]:
#slicing method for string
value = "prigraming"
sliced0 = value[0:4]
print(sliced0)

#skip characters
value = "prigraming"
sliced = value[0:4:2]
print(sliced)

prig
pi

In [ ]:
#len function
name = "jonathan"
len(name)

8

In [ ]:
#connect string(concatenation)
s1 = "hi"
s2 = "user"
result = s1 + "_" + s2
print(result)

hi_user

In [ ]:
#escape sequence in string
print("hellow \n world") #\n new line

hellow
 world

In [ ]:
#upper() lover ()
name = "JoNaThAn"
print(name.upper())
print(name.lower())

JONATHAN
jonathan

In [ ]:
#replace fuction
car = "toyota car owner"
replace = car.replace("toyota","lanbogini")
print(replace)

lanbogini car owner

In [ ]:
#Given the string "PYTHON", extract and print the fourth characters using their positions
word = 'python'
print(word[3])

h

In [ ]:
#Given the string "PYTHON", extract and print the second-to-last characters using negative indexing.
word = 'python'
print(word[4])

o

In [ ]:
#Given the string "PYTHON", extract and print the second-to-last characters using negative indexing.
word = 'python'
print(word[-1])

n

In [ ]:
#Extract the substring "THON" from the string "PYTHON".
word = 'python'
print(word[2:5])

tho

In [ ]:
#Extract every second character from the string "PYTHON" starting from the first character.
word = 'python'
print(word[0:5:2])

pto

In [ ]:
#Find the length of the string "Hello, World!".
word = 'python'
len(word)

6

In [ ]:
#Combine the strings "Hello" and "World" with a space in between.
print("hello"+ " " + "world")

hello world

In [ ]:
#Print the following text using escape sequences:
print("hellow \n \t  world")

hellow
 	  world

In [ ]:
#Convert "Python Programming" to uppercase and lowercase.
upper = "Python Programming"
print (upper.upper())
print (upper.lower())

PYTHON PROGRAMMING
python programming

In [ ]:
#Replace the word "Python" with "Java" in the string "I love Python.
print("python is the best programing language")
replace = "python is the best programing language"
print(replace.replace("python","java"))

python is the best programing language
java is the best programing language