## list and tuples

tuples

In [ ]:
#tuples
fruits = ("apple","banana","cherry")
print(fruits)

('apple', 'banana', 'cherry')

In [ ]:
#concatenation
t1 =(1,2,3)
t2 =(4,5,6,7,8)
result = t1 + t2
print(result)

(1, 2, 3, 4, 5, 6, 7, 8)

In [ ]:
#tuple slicing(extracts value in tuple)
x = (10,20,30,40,50,60,70,0,90,100)
print(x)

tuple_slicing1 = x[0:5]
print(tuple_slicing1)

tuple_slicing2 = x[0:10:2]
print(tuple_slicing2)

tuple_slicing3 = x[0:10:3]
print(tuple_slicing3)

(10, 20, 30, 40, 50, 60, 70, 0, 90, 100)
(10, 20, 30, 40, 50)
(10, 30, 50, 70, 90)
(10, 40, 70, 100)

In [ ]:
#nexted tuple slicing
nested = (("apple","banana"),(10,20,30),("x","y","z"))
print(nested)
print(nested[1])
print(nested[0][1])
print(nested[1][2])
print(nested[2][0:3])

(('apple', 'banana'), (10, 20, 30), ('x', 'y', 'z'))
(10, 20, 30)
banana
30
('x', 'y', 'z')

list

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9,0]
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [ ]:
#list forward slicing
colors = ["red","green","blue","yellow"]
print(colors[0])
print(colors[1])
print(colors[2])
print(colors[3])

#["red","green","blue","yellow"]
#[    0,       1,    2,      3 ] that positive indexing

forward_slicing = colors[0:4] # 0-starting point 4-number of extract value
print(forward_slicing)

forward_slicing = colors[0:4:2] # 0-starting point 4-number of extract value
print(forward_slicing)

red
green
blue
yellow
['red', 'green', 'blue', 'yellow']
['red', 'blue']

In [ ]:
#list backward slicing
colors = ["red","green","blue","yellow"]
print(colors[-1])
print(colors[-2])
print(colors[-3])
print(colors[-4])

#["red","green","blue","yellow"]
#[   -4,      -3,   -2,     -1 ] that negetive indexing

backward_slicing1 = colors[-1]
print(backward_slicing1)

backward_slicing2 = colors[-4 : -2]
print(backward_slicing2)

yellow
blue
green
red
yellow
['red', 'green']
['yellow', 'blue', 'green']

In [ ]:
#list striding
colors = ["red","green","blue","yellow"]

#["red","green","blue","yellow"]
#[   -4,      -3,   -2,     -1 ] that negetive indexing

backward_striding= colors[-1:-4:-1]
print(backward_striding)

['yellow', 'blue', 'green']

In [ ]:
#list striding
colors = ["red","green","blue","yellow"]

#["red","green","blue","yellow"]
#[    0,       1,    2,      3 ] that positive indexing

forward_striding = colors[0:4:2] # 0-starting point 4-number of extract value
print(forward_striding)

['red', 'blue']

In [ ]:
#nested list slicing
nested = [["apple","banana"],[10,20,30],["x","y","z"]]
print(nested)
print(nested[0])
print(nested[1][1])
print(nested[2][2])
print(nested[0][0:2])
print(nested[1][1:2])
print(nested[2][0:3])

[['apple', 'banana'], [10, 20, 30], ['x', 'y', 'z']]
['apple', 'banana']
20
z
['apple', 'banana']
[20]
['x', 'y', 'z']

In [ ]:
#list item add and remove
#nested list slicing
colors = ["red","green","blue","yellow"]
print(colors)
colors.append("orange")
print(colors)
colors.append("aqua")
print(colors)
colors.remove("red")
print(colors)
colors.remove("aqua")
print(colors)

['red', 'green', 'blue', 'yellow']
['red', 'green', 'blue', 'yellow', 'orange']
['red', 'green', 'blue', 'yellow', 'orange', 'aqua']
['green', 'blue', 'yellow', 'orange', 'aqua']
['green', 'blue', 'yellow', 'orange']

In [ ]:
numbers = [1,2,3,4,5]
print(numbers)
numbers.append(6)
print(numbers)
numbers.remove(5)
print(numbers)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 6]

In [ ]:
#You have a nested tuple nested_tuple = ((1, 2, 3), (4, 5, 6), (7, 8, 9)). Slice the second tuple (at index 1) and then extract the element at index 2 from it.
nested_tuple = ((1, 2, 3), (4, 5, 6), (7, 8, 9))
print(nested_tuple)
print(nested_tuple[1])
print(nested_tuple[1][2])

((1, 2, 3), (4, 5, 6), (7, 8, 9))
(4, 5, 6)
6

In [ ]:
#You have a nested list nested_list = [["a", "b", "c"], [1, 2, 3], ["x", "y", "z"]]. Slice the second list (at index 1) and extract the element at index 2.
nested_list = [["a", "b", "c"], [1, 2, 3], ["x", "y", "z"]]
print(nested_list)
print(nested_list[1])
print(nested_list[1][2])

[['a', 'b', 'c'], [1, 2, 3], ['x', 'y', 'z']]
[1, 2, 3]
3

In [ ]:
#You have a list numbers = [10, 20, 30, 40, 50]. Slice the last three elements using negative indices.
list_numbers = [10, 20, 30, 40, 50]
print(list_numbers)
print(list_numbers[-3:])

[10, 20, 30, 40, 50]
[30, 40, 50]

In [ ]:
#You have a list numbers = [10, 20, 30, 40, 50, 60]. Slice the list to extract every second element starting from index 1 and ending at index 5.
list_numbers = [10, 20, 30, 40, 50, 60]
print(list_numbers)
print(list_numbers[1:5:2])

[10, 20, 30, 40, 50, 60]
[20, 40]

In [ ]:
#ou have a list fruits = ["apple", "banana", "cherry"]. Add "orange" to the list using the append() method.
fruits = ["apple", "banana", "cherry"]
print(fruits)
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'orange']

In [ ]:
#You have a list fruits = ["apple", "banana", "cherry", "orange"]. Remove "banana" from the list using the remove() method.
fruits = ["apple", "banana", "cherry", "orange"]
print(fruits)
fruits.remove("banana")
print(fruits)

['apple', 'banana', 'cherry', 'orange']
['apple', 'cherry', 'orange']

In [ ]:
#You have list fruits = ["apple", "banana", "cherry", "orange"].Remove "cherry" from the list using the remove() method.
fruits = ["apple", "banana", "cherry", "orange"]
print(fruits)
fruits.remove("cherry")
print(fruits)