#Python Set operators

In [ ]:
set1 = {1, 2, 3, 4, 5}
print(set1)

{1, 2, 3, 4, 5}

In [ ]:
#list to  set conversion
mylist = [1, 2, 3, 4, 5]
myset = set(mylist)
print("orginal list :",mylist)
print("set:",myset)

orginal list : [1, 2, 3, 4, 5]
set: {1, 2, 3, 4, 5}

In [ ]:
#add set element
new_set={1,2,3}
new_set.add(4)
print("after adding :",new_set)

after adding : {1, 2, 3, 4}

In [ ]:
#update set element
new_set={1,2,3}
new_set.update([4,5,6])#that use to add multiple value at once
print("after update :",new_set)

after update : {1, 2, 3, 4, 5, 6}

In [ ]:
#remove set element
new_set={1,2,3,4,5}
new_set.remove(3)
print("after remove :",new_set)

after remove : {1, 2, 4, 5}

In [ ]:
#discrad set elements
new_set={1,2,3,4,5}
new_set.discard(30)#does nothing(30 is not in the set .but not giving an error corde)
print("after discrad :",new_set)

after discrad : {1, 2, 3, 4, 5}

In [ ]:
#set union .that remove dublicate value in marging the sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print("union_set :",union_set)

union_set : {1, 2, 3, 4, 5}

In [ ]:
#same as union function(|)
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1|set2
print("union_set :",union_set)

union_set : {1, 2, 3, 4, 5}

In [ ]:
#set intersection .find common element in given sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
intersection_set = set1.intersection(set2)
print("intersection_set :",intersection_set)

intersection_set : {3}

In [ ]:
#same as intersection function(&)
set1 = {1, 2, 3}
set2 = {3, 4, 5}
intersection_set = set1&set2
print("intersection_set :",intersection_set)

intersection_set : {3}

In [ ]:
#You are given a list: [10, 15, 20, 25, 15, 30, 20, 40]. Your task is to convert this list into a set to remove duplicate elements.
m = [10, 15, 20, 25, 15, 30, 20, 40]
n = set(m)
print(n)

{40, 10, 15, 20, 25, 30}

In [ ]:
#You have a set {5, 10, 15, 20}. Add the number 25 to the set. Then display the updated set.
set1 = {5, 10, 15, 20}
set1.add(25)
print(set1)

{5, 10, 15, 20, 25}

In [ ]:
#You are given a set {50, 60, 70, 80, 90}. Remove the number 70 from the set.
set1 = {50, 60, 70, 80, 90}
set1.remove(70)
print(set1)

{80, 50, 90, 60}

In [ ]:
#You are given two sets:
#1. set_a = {1, 2, 3, 4, 5}
#2. set_b = {4, 5, 6, 7, 8}

#Perform a union of these two sets to combine all unique elements. Then display the resulting set.
set_a = {1, 2, 3, 4, 5}
set_b = {4, 5, 6, 7, 8}
union_set = set_a.union(set_b)
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
#You are given two sets:
#1. set_a = {10, 20, 30, 40, 50}
#2. set_b = {30, 40, 50, 60, 70}

#Find the intersection of these sets to get only the common elements. Then display the resulting set.
set_a = {1, 2, 3, 4, 5}
set_b = {4, 5, 6, 7, 8}
union_set = set_a & set_b
print(union_set)

{4, 5}