In [ ]:
#creat a dictionary
student = {"name ":"alice","age ":20,"grade": "a"}
print(student)

{'name ': 'alice', 'age ': 20, 'grade': 'a'}

In [ ]:
#dictionaries slicing
student = {"name ":"alice","age ":20,"grade": "a"} #name ,age, grade is the key values
print(student["name "])
print(student["age "])
print(student["grade"])

alice
20
a

In [ ]:
#add and remove value in dictionary
new_dic = {"name ":"alice","age ":20,"grade": "a","city": "tokyo"}
print(new_dic)

new_dic["email "] = "alice@gmail.com"#add
print(new_dic)


del new_dic["age "]#remove
print(new_dic)

{'name ': 'alice', 'age ': 20, 'grade': 'a', 'city': 'tokyo'}
{'name ': 'alice', 'age ': 20, 'grade': 'a', 'city': 'tokyo', 'email ': 'alice@gmail.com'}
{'name ': 'alice', 'grade': 'a', 'city': 'tokyo', 'email ': 'alice@gmail.com'}

In [ ]:
#dictionary extraction
#keys()
#values()
#items()
new_dic = {"name ":"alice","age ":20,"grade": "a","city": "tokyo"}
print(new_dic.keys())
print(new_dic.values())
print(new_dic.items())
print("item count is : ",len(new_dic.items()))

dict_keys(['name ', 'age ', 'grade', 'city'])
dict_values(['alice', 20, 'a', 'tokyo'])
dict_items([('name ', 'alice'), ('age ', 20), ('grade', 'a'), ('city', 'tokyo')])
item count is :  4

In [ ]:
#You are given a dictionary representing a student's information. Slice and extract the values for the name and grade keys.
new_student = {"name ":"alice","age ":20,"grade": "a","city": "tokyo"}
print(new_student["name "])
print(new_student["grade"])

alice
a

In [ ]:
#Add a new key-value pair to the dictionary representing the student's email address (alice@example.com).
new_student = {"name ":"alice","age ":20,"grade": "a","city": "tokyo"}
new_student["email "] = "alice@gmail.com"
print(new_student)

{'name ': 'alice', 'age ': 20, 'grade': 'a', 'city': 'tokyo', 'email ': 'alice@gmail.com'}

In [ ]:
#Remove the city key-value pair from the dictionary.
new_student = {"name ":"alice","age ":20,"grade": "a","city": "tokyo"}
del new_student["city"]
print(new_student)

{'name ': 'alice', 'age ': 20, 'grade': 'a'}

In [ ]:
#Retrieve and display all the keys, all the values, and all the key-value pairs from the dictionary.
new_student = {"name ":"alice","age ":20,"grade": "a","city": "tokyo"}
print(new_student.keys())
print(new_student.values())
print(new_student.items())

dict_keys(['name ', 'age ', 'grade', 'city'])
dict_values(['alice', 20, 'a', 'tokyo'])
dict_items([('name ', 'alice'), ('age ', 20), ('grade', 'a'), ('city', 'tokyo')])